:root {
  --main-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-title-color: #303030;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-lh: 1.36;
  --main-font: "Open Sans", sans-serif;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.socials__link, .soc__list, .header__container, .navigation, .check-text span, .check-text, .modal-btn, .top-text {
  display: flex;
  align-items: center;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: inherit;
  line-height: 1.33;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.btn--light {
  color: var(--main-btn-color);
}

.btn--dark {
  color: var(--second-btn-color);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  line-height: var(--typical-lh);
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  gap: 20px;
}
.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.5019607843);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 15px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #555555;
  border-radius: 5px;
  font-size: 14px;
  color: #7661ca;
  padding-left: 35px;
  outline: transparent;
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-size: 14px;
  color: turquoise;
}
.modal-input:-ms-input-placeholder {
  font-size: 14px;
  color: turquoise;
}
.modal-input::placeholder {
  font-size: 14px;
  color: turquoise;
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.307);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: rgba(0, 128, 0, 0.307);
}
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.307);
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(128, 45, 0, 0.307);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(128, 45, 0, 0.307);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 45, 0, 0.307);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-label-text,
.modal-label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.modal-comment {
  width: 100%;
  height: 100px;
  border: 1px solid #555555;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}
.modal-comment::-moz-placeholder {
  font-size: 14px;
  color: turquoise;
}
.modal-comment:-ms-input-placeholder {
  font-size: 14px;
  color: turquoise;
}
.modal-comment::placeholder {
  font-size: 14px;
  color: turquoise;
}

.check-text {
  font-size: 14px;
  color: #909090;
  position: relative;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #5bd67c;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #909090;
  border-radius: 50px;
  margin-right: 7px;
  transition: background-color 250ms linear;
}

.check-text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #9da4bd;
  border-radius: 50%;
  transition: transform 250ms linear, background-color 250ms linear;
}

.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.input-check:checked + .check-text::before {
  background-color: #84e998;
} */
/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  margin-right: 5px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
} */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-text {
  background-color: antiquewhite;
  padding: 6px 22px;
  border-radius: 3px;
  cursor: pointer;
}

.filter-btn:checked + .filter-text {
  background-color: var(--accent-color);
  color: #ffffff;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__logo {
  margin-right: 131px;
}

.logo__icon {
  fill: #ffffff;
}

.menu {
  display: none;
  gap: 30px;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu__link {
  transition: color 300ms linear;
}
.menu__link:hover, .menu__link:focus {
  color: #ff6c00;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color)
} */
.header__connect {
  margin-left: auto;
  display: none;
}

.connect__btn {
  margin-left: 40px;
}

.menu-open-btn {
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: block;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-list {
  margin-bottom: 64px;
}

.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-connect__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.mob-connect__btn {
  display: block;
  margin-top: 24px;
}

.mob-soc {
  position: relative;
  padding-left: 100px;
}

.mob-soc::before {
  content: "";
  width: 60px;
  height: 1px;
  position: absolute;
  background-color: #303030;
  left: 0;
  top: 9px;
}

.mob-soc__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-soc__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: #303030;
}

.hero__container {
  display: flex;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 15px;
    padding-right: 15px;
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
  }
}

.soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.soc__list {
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  gap: 40px;
}
.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
}
.soc__link:hover, .soc__link:focus {
  color: #ff6c00;
}

.hero__content {
  padding: 208px 31px;
  background-color: #7661ca;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding: 272px 100px 237px;
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpeg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 100px 208px 100px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpeg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpeg);
  }
}

.hero__top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero__top-text::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__bottom-text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 336px;
}
@media screen and (min-width: 768px) {
  .hero__bottom-text {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.picture-list {
  display: flex;
  gap: 30px;
}

.about__container {
  display: flex;
  gap: 30px;
}

.about__content {
  max-width: 470px;
}

.about__top-text {
  color: #303030;
  margin-bottom: 20px;
}

.about__title {
  color: #303030;
  margin-bottom: 20px;
}

.about__bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

.prices {
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
}

.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}
.prices-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.benefits-container {
  display: flex;
  padding-left: 100px;
  gap: 130px;
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
  max-width: 430px;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.barbers__top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 60px) / 3);
  }
}

.cards__top-wrap {
  position: relative;
  overflow: hidden;
}

.cards__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.6;
  background-color: rgba(255, 106, 0, 0.521);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.cards__item:hover .cards__cover-text {
  transform: translateY(0);
}

.cards__item-content {
  padding-top: 30px;
}

.cards__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.cards__item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: tomato;
  justify-content: center;
  color: #ffffff;
  transition: background-color 300ms linear;
}
.socials__link:hover, .socials__link:focus {
  background-color: teal;
}

.socials__icon {
  fill: #ffffff;
  transition: fill 300ms linear;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: rgb(255, 0, 183);
}

/* .barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: teal;
  color: #7661ca;
} */
.gallery-top-text {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.online {
  width: calc(50% - 15px);
}

.online-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.online-input-wrap {
  position: relative;
}

.online-area-wrap {
  width: 100%;
  position: relative;
}

.online-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 250ms linear;
}
.online-item:not(:-moz-placeholder-shown) + .online-label {
  transform: translateY(-100%);
}
.online-item:not(:-ms-input-placeholder) + .online-label {
  transform: translateY(-100%);
}
.online-item:focus + .online-label, .online-item:not(:placeholder-shown) + .online-label {
  transform: translateY(-100%);
}

.online-input {
  width: 270px;
  height: 24px;
  margin-bottom: 44px;
}

.online-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  color: #f7f7f7;
}
.online-item:focus {
  border-color: #ffffff;
}

/* .online-item:focus::placeholder {
  color: #ffffff;
}

.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
} */
.online-text {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
}

.online-btn {
  color: var(--main-btn-color);
}

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  display: block;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-link:hover, .footer-link:focus {
  color: #ff6c00;
}/*# sourceMappingURL=main.css.map */