.section {
  // padding-top: 120px;
  // padding-bottom: 120px;
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
