.top-text {
  @include font(600, 11px, var(--typical-lh), 0.1em);
  // font-weight: 600;
  // font-size: 11px;
  // line-height: var(--typical-lh);
  text-transform: uppercase;
  @extend %align-list;
  gap: 20px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}
