:root {
  --main-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-title-color: #303030;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-lh: 1.36;
  --main-font: 'Open Sans', sans-serif;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}
