.picture-list {
  display: flex;
  gap: 30px;
}

.about__container {
  display: flex;
  gap: 30px;
}

.about__content {
  max-width: 470px;
}

.about__top-text {
  color: #303030;
  margin-bottom: 20px;
}
.about__title {
  color: #303030;
  margin-bottom: 20px;
}
.about__bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
