.barbers__top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.cards__top-wrap {
  position: relative;
  overflow: hidden;
}

.cards__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.6;
  background-color: rgba(255, 106, 0, 0.521);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
  .cards__item:hover & {
    transform: translateY(0);
  }
}

.cards__item-content {
  padding-top: 30px;
}

.cards__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.cards__item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: tomato;
  @extend %align-list;
  justify-content: center;
  color: #ffffff;
  transition: background-color 300ms linear;
  &:hover,
  &:focus {
    background-color: teal;
  }
}

.socials__icon {
  fill: #ffffff;
  transition: fill 300ms linear;
  .socials__link:hover &,
  .socials__link:focus & {
    fill: rgb(255, 0, 183);
  }
}

/* .barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: teal;
  color: #7661ca;
} */
