.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  display: block;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
