.gallery-top-text {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  // width: calc((100% - 90px) / 4);
  // width: 100%;
  @include calc(2);
  @media screen and (min-width: 768px) {
    @include calc(3);
  }
  @media screen and (min-width: 1200px) {
    @include calc(6);
  }
}
