.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__logo {
  margin-right: 131px;
}

.navigation {
  @extend %align-list;
}

.header__container {
  @extend %align-list;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu__link {
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color)
} */

.header__connect {
  margin-left: auto;
}

.connect__btn {
  margin-left: 40px;
}
