.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__logo {
  margin-right: 131px;
}
.logo__icon {
  fill: #ffffff;
}

.navigation {
  @extend %align-list;
}

.header__container {
  @extend %align-list;
}

.menu {
  display: none;
  gap: 30px;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu__link {
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color)
} */

.header__connect {
  margin-left: auto;
  display: none;
}

.connect__btn {
  margin-left: 40px;
}

.menu-open-btn {
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}
.menu-close-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: block;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-list {
  margin-bottom: 64px;
}
.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;

  color: #303030;
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.mob-connect__btn {
  display: block;
  margin-top: 24px;
}

.mob-soc {
  position: relative;
  padding-left: 100px;
}

.mob-soc::before {
  content: '';
  width: 60px;
  height: 1px;
  position: absolute;
  background-color: #303030;
  left: 0;
  top: 9px;
}
.mob-soc__item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-soc__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #303030;
}
