.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 131px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link {
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-color)
} */

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
